/*
 * @Author: Pace 
 * @Date: 2018-12-09 11:53:08 
 * @Last Modified by: Pace
 * @Last Modified time: 2018-12-09 11:55:33
 */
.cate-select{
    width: 160px;
    margin-right: 12px;
    display: inline-block;
}