/*
 * @Author: Pace 
 * @Date: 2018-12-12 16:40:54 
 * @Last Modified by: Pace
 * @Last Modified time: 2018-12-12 16:52:21
 */
 .btn-send-goods {
    /* margin-left: 10px; */
    /* float: right; */
    position: absolute;
    right: 17px;
    top: 2px;
}

.p-img{
    display: block;
    width: 80px;
    height: 80px;
}
