/*----------------------------------------------
Author : www.webthemez.com
License: Commons Attribution 3.0
http://creativecommons.org/licenses/by/3.0/
------------------------------------------------*/

/*----------------------------------------------
    COMMON  STYLES    
------------------------------------------------*/
body {
    font-family:'Open Sans', sans-serif;
    background: #f3f3f3;
}
#wrapper {
    width: 100%;
}
#page-wrapper {
    margin: 0 0 0 260px;
    padding: 15px 15px;
}

.text-center {
    text-align:center;
}
h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 7px;
    margin-bottom: -5px;
}
h2 {
    color: #000;
}
h4 {
    padding-top:10px;
}
.square-btn-adjust {
    border: 0px solid transparent;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}
p {
    font-size:16px;
    line-height:25px;
    padding-top:20px;
}
.panel {
    border-radius:0px;
}
.navbar-side .nav > li > a > i {

    padding: 8px;
    width: 30px;
    text-align: center;
}
.top-navbar {
    position: fixed;
    width: 100%;
    z-index: 300;
    -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.05);
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.05);
}
.navbar-side {
    z-index: 1;
    position: fixed;
    width: 250px;
    top: 60px;
    bottom: 0;
    /* overflow-y : auto; */
}
#page-wrapper {
    position: relative;
    top: 55px;
}
.top-navbar .nav > li > a:hover, .top-navbar .nav > li > a:focus {
    text-decoration: none;
    background-color: rgba(0,0,0,.1);
    color: #fff;
}
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background-color: rgba(0,0,0,.1);
    border-color: rgba(0,0,0,.1);
}
.breadcrumb {
    padding: 0;
    margin-bottom: 20px;
    list-style: none;
    /* background-color: #FAFAFA; */
    border-radius: 0;
}
/*----------------------------------------------
   DASHBOARD STYLES    
------------------------------------------------*/
 .page-header {
    padding-bottom: 9px;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid transparent;
}
.panel-left {
    width: 35%;
    height: 158px;
    background: #5CB85C;
}
.panel-left .fa-5x {
    font-size: 11em;
    color: rgba(255, 255, 255, 0.15);
    padding: 40px 0;
    margin-bottom:30px;
}
.panel-right {
    width: 65%;
    height: 158px;
    background: transparent;
    margin-bottom: 0;
    color: #fff;
}
.panel-right h3 {
    font-size: 50px;
    padding: 31px 10px 13px;
    color: rgba(255, 255, 255, 0.96);
}
.panel-back {
    background-color:#fff;
}
.panel-default {
    border-color: #ECECEC;
}
.panel-default > .panel-heading {
    color: #000;
    border-color: #FFF;
    font-weight:bold;
    background: #FFFFFF;
    font-size: 16px;
}
.panel-heading {
    padding: 15px 15px 0px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.jumbotron, .well {
    background:#fff;
}
.noti-box {
    min-height: 100px;
    padding: 20px;
}
.noti-box .icon-box {
    display: block;
    float: left;
    margin: 0 15px 10px 0;
    width: 70px;
    height: 70px;
    line-height: 75px;
    vertical-align: middle;
    text-align: center;
    font-size: 40px;
}
.text-box p {
    margin: 0 0 3px;
}

.dash-board {
    height: 100%;
}
.row.user-list{
    padding: 5px;
}
.row.mypagination{
    float: right;
}

.dash-board .default {
    background-color: rgba(0,0,0,.603)!important;
    border: none;
    color: #fff;
    -o-transition: all .4s;
    transition: all .4s;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    overflow: hidden;
    position: relative;
}

.small-box {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    position: relative;
    display: block;
    margin-bottom: 20px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.1);
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,.1);
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
}
.small-box>.inner {
    padding: 10px;
}

@media (min-width: 768px){
    .dash-board .inner {
        height: 400px;
    }
    .dash-board .inner p {
        font-size: 16px;
    }
}
.small-box h3, .small-box p {
    z-index: 5;
}

.small-box h3 {
    font-size: 38px;
    font-weight: 700;
    margin: 0 0 10px;
    white-space: nowrap;
    padding: 0;
}
.dash-board h3 {
    font-size: 70px!important;
}
.small-box h3, .small-box p {
    z-index: 5;
}
.small-box p {
    font-size: 15px;
}
p {
    margin: 0 0 10px;
}
.table .main-picture {
    height: 80px;
    width: 80px;
    background: #eee;
    border: 1px solid #eee;
}
.panel-default {
    border-color: #ddd;
}

.panel {
    margin-bottom: 20px;
    background-color: #fff;
    /* border: 1px solid transparent; */
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.oper-item {
    margin-right: 5px;
}
.btn-danger.hover, .btn-danger:active, .btn-danger:hover {
    background-color: #d73925;
}
.btn-default:hover {
    color: #333;
    background: RGB(230,137,50);
    border-color: RGB(0,0,0);
}
.oper-item.btn.btn-default{
    background : #ff9838;
    color:#fff;
}
.on-sale{
    color: rgb(0, 166, 90);
}
.btn.btn-danger.oper-item.down{
    position: relative;
    padding: 4px 10px;
}
.on-sale-font{
    font-size: 10px;
    color: rgb(0, 166, 90);
}
.sale-out-font{
    font-size: 10px;
    color: rgb(219,71,46);
}
.mybtn.btn.btn-danger.oper-item{
    background: #ff9838;
    border-color: #fff;
}
.btn{
    border-color: #fff;
}
.sale-out{
    color: rgb(219,71,46);
}

.table>thead>tr>th {
    border-bottom: 2px solid #f4f4f4;
}
.table .main-picture img {
    width: 100%;
    height: 100%;
}
.small-box .icon {
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    -moz-transition: all .3s linear;
    transition: all .3s linear;
    position: absolute;
    top: -10px;
    right: 10px;
    z-index: 0;
    font-size: 200px;
    color: rgba(0,0,0,.15);
}
.dash-board .default:hover {
    background-color: hsla(0,0%,100%,.473)!important;
    color: #444;
    -webkit-box-shadow: 0 10px 20px rgba(0,0,0,.2);
    -moz-box-shadow: 0 10px 20px rgba(0,0,0,.2);
    box-shadow: 0 10px 20px rgba(0,0,0,.2);
}

.small-box:hover {
    text-decoration: none;
    color: #f9f9f9;
}
.small-box>.small-box-footer {
    position: relative;
    text-align: center;
    padding: 3px 0;
    color: #fff;
    color: hsla(0,0%,100%,.8);
    display: block;
    z-index: 10;
    background: rgba(0,0,0,.1);
    text-decoration: none;
}

.dash-board .small-box-footer {
    padding: 10px;
    color: #fff;
}
.small-box>.small-box-footer:hover {
    color: #fff;
    background: rgba(0,0,0,.15);
}
.dash-board .default:hover .small-box-footer {
    background: rgba(255,117,25,.664);
    color: #fff;
}
.dash-board .small-box-footer {
    -o-transition: all .4s;
    transition: all .4s;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
}
.content {
    min-height: 250px;
    margin-right: auto;
    margin-left: auto;
    padding: 15px;
}

.main-text {
    font-size: 25px;
    font-weight:600;
}
.set-icon {
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
}
.panel-primary {
    display:inline-block;
    margin-bottom:30px;
    width:100%;
}
.green {
    background-color: #5cb85c;
    color: #fff;
}
.blue {
    background-color: #4CB1CF;
    color: #fff
}
.red {
    background-color: #F0433D;
    color:#fff;
}
.brown {
    background-color: #f0ad4e;
    color:#fff;
}
.back-footer-red {
    background-color: #F0433D;
    color:#fff;
    border-top: 0px solid #fff;
}
.icon-box-right {
    display: block;
    float: right;
    margin: 0 15px 10px 0;
    width: 70px;
    height: 70px;
    line-height: 75px;
    vertical-align: middle;
    text-align: center;
    font-size: 40px;
}
.main-temp-back {
    background: #8702A8;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 300;
    text-align: center;
}
.main-temp-back .text-temp {
    font-size: 40px;
}
.back-dash {
    padding:20px;
    font-size:20px;
    font-weight:500;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    background-color:#2EA7EB;
    color:#fff;
}
.back-dash p {
    padding-top:16px;
    font-size:13px;
    color:#fff;
    line-height:25px;
    text-align:justify;
}
.color-bottom-txt {
    color: #000;
    font-size: 16px;
    line-height: 30px;
}
/*CHAT PANEL*/

/*Charts*/
 .main-chart {
    background: #fff;
}
.easypiechart-panel {
    text-align: center;
    padding: 1px 0;
    margin-bottom: 20px;
}
.placeholder h2 {
    margin-bottom: 0px;
}
.donut {
    width: 100%;
}
.easypiechart {
    position: relative;
    text-align: center;
    width: 120px;
    height: 120px;
    margin: 20px auto 10px auto;
}
.easypiechart .percent {
    display: block;
    position: absolute;
    font-size: 26px;
    top: 38px;
    width: 120px;
}
#easypiechart-blue .percent {
    color: #30a5ff;
}
#easypiechart-teal .percent {
    color: #1ebfae;
}
#easypiechart-orange .percent {
    color: #ffb53e;
}
#easypiechart-red .percent {
    color: #ef4040;
}
.chat-panel .panel-body {
    height: 450px;
    overflow-y: scroll;
}
.chat-box {
    margin: 0;
    padding: 0;
    list-style: none;
}
.chat-box li {
    margin-bottom: 15px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #808080;
}
.chat-box li.left .chat-body {
    margin-left: 90px;
}
.chat-box li .chat-body p {
    margin: 0;
    color: #8d8888;
}
.chat-img>img {
    margin-left:20px;
}
footer p {
    font-size: 14px;
}
/*----------------------------------------------
    MENU STYLES    
------------------------------------------------*/
 .user-image {
    margin: 25px auto;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    max-height:170px;
    max-width:170px;
}
.top-navbar {
    margin:0px;
}

.enbuy-logo b {
    color: #2DAFCB;
}
.top-navbar .enbuy-logo {
    color: #fff;
    width: 260px;
    text-align: left;
    height: 60px;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 30px;
}
.enbuy-logo {
    float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
    margin-left: 55px;

}
.top-navbar .nav > li {
    position: relative;
    display: inline-block;
    margin: 0px;
    padding: 0px 10px;

}
.top-navbar .nav > li > a {
    position: relative;
    display: block;
    padding: 20px;
    color: #FFFFFF;
    margin: 0px;
}

.top-navbar .dropdown-menu {
    min-width: 230px;
    top:97%;
    border-radius: 0 0 4px 4px;
}
.dropdown-menu > li > a{
    cursor: pointer;
}
.dropdown-tasks {
    width: 255px;
}
.dropdown-tasks .progress {
    height: 8px;
    margin-bottom: 8px;
    overflow: hidden;
    background-color: #f5f5f5;
    border-radius: 0px;
}
.dropdown-tasks > li > a {
    padding: 0px 15px;
}
.dropdown-tasks p {
    font-size: 13px;
    line-height: 21px;
    padding-top: 4px;
}
.active-menu {
    background-color: #2DAFCB !important;
    color: #fff !important;
}
.active-menu i {
    color: #fff !important;
}
.arrow {
    float: right;
    margin-top: 8px;
}
.fa.arrow:before {
    content:"\f104";
}
.active > a > .fa.arrow:before {
    content:"\f107";
}
.nav-second-level li, .nav-third-level li {
    border-bottom: none !important;
}
.nav-second-level li a {
    padding-left: 37px;
}
.nav-third-level li a {
    padding-left: 55px;
}
.sidebar-collapse, .sidebar-collapse .nav {
    background:none;
}
.sidebar-collapse .nav {
    padding:0;
}
.sidebar-collapse .nav > li > a {
    color: #777;
    font-weight: 600;
    background:transparent;
    text-shadow:none;
}
.sidebar-collapse > .nav > li > a {
    padding: 12px 10px;
}
.sidebar-collapse > .nav > li {
    border-bottom: 1px solid rgba(107, 108, 109, 0.19);

}
ul.nav.nav-second-level.collapse.in {
    background: #f1f1f1;
}

.sidebar-collapse .nav > li > a:hover, .sidebar-collapse .nav > li > a:focus {
    outline:0;
}
.navbar-side {
    border:none;
    background: #fff;
}
.top-navbar {
    background: #ff9838;
    border-bottom:none;
}
.top-navbar .nav > li > a > i {
    margin-right: 2px;
    color: #fff;
}
.top-navbar .nav > li:hover .dropdown-menu{
    display: block;

}
.top-navbar .nav > li > a > span {
    color: #f4f4f4;
    margin-right: 8px;
}
.col-md-12>h1 {
    
    font-size: 24px;
}
.col-md-12>h1>small {
    font-size: 15px;
    display: inline-block;
    padding-left: 6px;
    font-weight: 300;
}
.dropdown-user li {
    margin: 8px 0;
}
.navbar-default {
    border:0px solid black;
    border-right: 1px solid #d2d6de;
    
}
.navbar-header {
    background: #ff9838;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #B40101;
}
.navbar-default .navbar-toggle {
    border-color: #fff;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #FFF;
}
.nav > li > a > i {
    margin-right:10px;
    color: #666;
}

/*----------------------------------------------
    UI ELEMENTS STYLES     
------------------------------------------------*/
 .btn-circle {
    width: 50px;
    height: 50px;
    padding: 6px 0;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    text-align: center;
    font-size: 12px;
    line-height: 1.428571429;
}
/*----------------------------------------------
    MEDIA QUERIES     
------------------------------------------------*/
 @media(max-width:768px) {
    .top-navbar{
        position: relative;
    }
    
    .navbar-side {
        z-index: 1;
        width: 100%;
        top: 0;
        position: relative;
    }
    #page-wrapper {
        margin: 0;
        padding: 15px 30px;
        top: 0;
    }
}
@media(max-width:480px) {
    .page-header small {
        display: block;
        padding-top: 14px;
        font-size: 19px;
    }
}